// COLOR // 
$color-purple: #7E33E0;
$color-pink: #FB2E86;
$color-text: #151875;
$JosefinSans-SemiBold: "JosefinSans-SemiBold", sans-serif;
$color-white: white;


// TYPO //
@font-face {
    font-family: "JosefinSans-SemiBold";
    src: url("JJosefinSans-SemiBold.woff2") format("woff2"),
    url("JosefinSans-SemiBoldwoff2") format("woff2"),
   }
   
